SECRET_KEY=django_secret_key

DEBUG=True/False

SITE_ID=1

ALLOWED_HOSTS=127.0.0.1

DB_ENGINE=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=localhost

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=

CELERY_BROKER_URL=
CELERY_BROKER_USER=
CELERY_BROKER_PASSWORD=

EMAIL_HOST_PASSWORD=